*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

.google-sans {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: autbo;
  background-color:rgb(231, 180, 104); 
   
    }
    header{
        padding: 20px 80px; 
        text-align: center;
    }
.jh{
    display: flex;
    justify-content: space-between;
    

}
 .list{
    list-style: none;
    display : flex;
    gap:51px;
    align-items: center;

}
.logo{
    color: #FD6E0A;
    width: 45px;
    font-weight:bolder;
}
ul a{
    text-decoration: none;
   
}
.button{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer; 
}